*.bin
*.lst
*.obj
*.mht
*.dll
*.wmv
*.wav
*dlital.asm
*One.txt
*.bak
*.kicad_pcb-bak
*.bck
*.dcm
*.lib
*.pro
*.cmp
*.TIAP
*.TIAC
*.tmp
*.pad
*.o
*.map
*.i
*.s
Demo8M/*
Test9938/*
cart/Liz*
classic99.ini
desktop.ini
dl_pics/*
video/*

